aside{
	display: inline-block;
	background-color: #848E66;
}
body{
	margin:5px;
	padding:5px;
}
.right{
	width:79%;
	padding:3px;
	display: inline-block;
	float:right;
	background-color: #ffffff;
}
nav a{
	display: inline-block;
	margin: 2%;
		
	border-radius: 5px;

	text-decoration: none;
	padding: 2%;

	color: #000000;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(218,234,213,0.60);
	width:150px;
	height: 20px;

}
.active {
	background-color: #FFFFFF;
}
a:hover{
	background: #696969;
	color:#000000;
}
header{
	text-align: center;
	color:#FFFFFF;
	border: 5px;
	background-color: #B3B3B3;
	padding:10px;
	background-size: 100%;
	background-image: url("../images/flywheel.jpg");
}
.left{
padding:20px;
}

h2{
	text-transform: uppercase;
	color:#000000;
}

h1{
	text-transform: uppercase;
}
img{
	width:190px;
	margin:20px;
	display:block;
	border:solid 1px #000000;
	}
.right table{
	margin-left: 70px;
	width:70%;
	padding: 10px;
    font-weight: bold;
    font-family: arial;
}
.right th{
	padding: 10px;
	background-color: #848E66;
	color:#ffffff;
	border-bottom: 2px solid #76EE00;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.right tr{
	margin:1px;
	padding:1px;
	color:#1b1b1b;
	opacity:.8;
}
.right td{
	margin:1px;
	border:2px;
	padding:10px;
	background-color: #d0f0c0; 
	border-radius: 2px;
	text-shadow: 2px;
}
th:first-child{
	text-align: left;
}
th,td:nth-child(2){
	text-align:center;
}
th,td:nth-child(3){
	text-align: center;
}
tr:hover{
	opacity:1;
}
